<% title 'Resend confirmation instructions - Gamocosm' %>
<div class="row">

	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default login-pane">
			<div class="panel-header text-center">
				<h2>Resend confirmation instructions</h2>
			</div>

			<div class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
					<%= f.error_notification %>
					<%= f.full_error :confirmation_token %>

					<p class="form-inputs">
						<%= f.input :email, required: true, autofocus: true %>
					</p>

					<p class="form-actions text-center">
						<%= f.button :submit, "Resend confirmation instructions", class: 'btn btn-lg btn-primary' %>
					</p>
				<% end %>
				<hr />
				<%= render "devise/shared/links" %>
			</div>
		</div>

	</div>
</div>
