<% if current_user.digital_ocean_invalid? %>
  <div class="row">
    <div class="alert alert-warning">
      <% if current_user.digital_ocean_missing? %>
        You have not entered your Digital Ocean API token.
        If you are not a server admin, you can ignore this.
      <% else %>
        Your Digital Ocean keys are invalid.
        If you are not a server admin, you can remove this.
      <% end %>
    </div>
  </div>
<% end %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

    <%= f.input :digital_ocean_api_key, label: 'Digital Ocean API Token', input_html: { size: 36 }, hint: "Only required for server admins. #{link_to('Read more/Instructions', digital_ocean_setup_path)}".html_safe %>

    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update", class: 'btn btn-success' %>
  </div>
<% end %>

<h3>Delete my account</h3>
<p>
	All your data will be deleted from our servers.
	Your servers and snapshots and Digital Ocean will remain there (you may want to delete those too).
</p>
<p><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
