<% content_for :head do %>
	<meta http-equiv="refresh" content="8" />
<% end %>
<div>
	<% if @minecraft.server.pending_operation == 'starting' %>
		Your server is being created.
		<% if !@minecraft.server.done_setup? %>
			This should take a few minutes (first time only).
		<% else %>
			This should take about a minute.
		<% end %>
	<% elsif @minecraft.server.pending_operation == 'preparing' %>
		<% if !@minecraft.server.done_setup? %>
			Your server is being set up.
			This should take a few minutes (first time only).
		<% else %>
			Your server is being started. This should take about a minute.
		<% end %>
		<br />
		Status:
		<% if @minecraft.server.remote_setup_stage == 0 %>
			Connecting
		<% elsif @minecraft.server.remote_setup_stage == 1 %>
			Connected
		<% elsif @minecraft.server.remote_setup_stage == 2 %>
			Installing and updating software (usually 2-3 minutes)
		<% elsif @minecraft.server.remote_setup_stage == 3 %>
			Downloading and installing Minecraft (<%= @minecraft.flavour_info.try(:[], :name) %>, estimated <%= pluralize_with_count(@minecraft.flavour_info.try(:[], :time), 'minute') %>)
		<% elsif @minecraft.server.remote_setup_stage == 4 %>
			Finishing up
		<% elsif @minecraft.server.remote_setup_stage == 5 %>
			Keeping system up to date
		<% end %>
	<% elsif @minecraft.server.pending_operation == 'stopping' %>
		Your server is shutting down.
		This should take about 15 seconds.
	<% elsif @minecraft.server.pending_operation == 'saving' %>
		Your server is being backed up.
		This should take about a minute.
	<% elsif @minecraft.server.pending_operation == 'rebooting' %>
		Your server is rebooting.
		This should only take a few seconds.
	<% else %>
		Hmmmm.
	<% end %>
	<br />
	This page will automatically refresh itself, but feel free to refresh it yourself.
	<hr />
	<%= render partial: 'advanced' %>
	<%= render partial: 'logs' %>
	<hr />
	<%= link_to 'Delete', minecraft_path(@minecraft), method: :delete, class: 'btn btn-danger' %>
</div>
