<div class="row">
	<div class="col-sm-12">
		<%= panel_with_heading 'Digital Ocean' do %>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					This information is provided for you to help you monitor your Digital Ocean account.
					<br />If you see orphaned servers or snapshots, you should log into <%= link_to 'Digital Ocean\'s control panel', digital_ocean_control_panel_path %> and delete them.
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h4>Droplets</h4>
					<table class="table table-striped">
						<% if @do_droplets.nil? %>
							<tr><td><em>Your Digital Ocean API token is empty, or missing</em></td></tr>
						<% elsif @do_droplets.empty? %>
							<tr><td><em>You have no droplets on Digital Ocean</em></td></tr>
						<% else %>
							<tr>
								<th>&nbsp;</th>
								<th class="text-right">ID</th>
							</tr>
							<% @do_droplets.each do |x| %>
								<tr><td><%= x.name %></td><td class="text-right"><%= x.id %></td></tr>
							<% end %>
						<% end %>
					</table>
				</div>
				<div class="col-sm-6">
					<h4>Snapshots</h4>
					<table class="table table-striped table-no_fixed">
						<% if @do_snapshots.nil? %>
							<tr><td><em>Your Digital Ocean API token is empty, or missing</em></td></tr>
						<% elsif @do_snapshots.empty? %>
							<tr><td><em>You have no snapshots on Digital Ocean</em></td></tr>
						<% else %>
							<tr>
								<th>&nbsp;</th>
								<th class="text-right">ID</th>
							</tr>
							<% @do_snapshots.each do |x| %>
								<tr>
									<td><%= x.name %></td>
									<td class="text-right"><%= x.id %></td>
								</tr>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>
