<br />
<%= panel_with_heading 'Server Credentials' do %>
	FTP and SSH instructions are on the <%= link_to 'wiki', wiki_ftp_ssh_path %>.
	<br /><br />
	<dl>
		<dt>Host</dt><dd><%= render_minecraft_ip_address(@minecraft, 'Your server\'s IP address when running') %></dd>
		<dt>Port</dt><dd>default 4022 (can be changed under the "Advanced" tab)</dd>
		<dt>User</dt><dd>mcuser</dd>
		<dt>Password</dt>
		<dd><ul>
			<li>Default: your email and the name of your server separated with a plus, e.g. "steve@example.com+terrafirmacraft" (<strong>you should change this!</strong>)</li>
			<li>Even if you specify SSH key(s) to add to your server, a password must be set for you to use sudo</li>
		</ul></dd>
		<dt>FTP Protocol</dt><dd>SFTP</dd>
		<dt>FTP Logon Type</dt><dd>Normal (saves password) or Ask for password (every time)</dd>
	</dl>
<% end %>

<%= panel_with_heading 'Changing your server password' do %>
	<ol>
		<li>SSH into your server</li>
		<li>Run <code>passwd</code></li>
		<li>Enter your old and new password into the prompt</li>
		<li>Exit (run <code>exit</code>)</li>
	</ol>
<% end %>

<%= panel_with_heading 'SSH Keys' do %>
	<p>
		The next time you start your server, Gamocosm will add these keys to your list of authorized keys (and reset this field)
	</p>
	<%= simple_form_for @minecraft, (@demo.nil? ? { url: minecraft_path(@minecraft), method: :put } : { html: { onsubmit: 'return false;' } }) do |f| %>
		<%= f.simple_fields_for :server do |s_f| %>
			<%= s_f.input :ssh_keys, label: false, hint: 'Comma separated list of Digital Ocean SSH key IDs (spaces will be stripped)' %>
		<% end %>
		<%= f.button :submit, 'Save', class: 'btn btn-default' %>
	<% end %>
	<hr />
	<h4>SSH keys on Digital Ocean</h4>
	<table class="table table-striped table-no_fixed">
		<% if @demo.nil? %>
			<% if @do_ssh_keys.nil? %>
				<tr><td><em>Your Digital Ocean API token is missing or invalid</em></td></tr>
			<% elsif @do_ssh_keys.blank? %>
				<tr><td><em>You have no SSH keys on Digital Ocean</em></td></tr>
			<% else %>
				<tr>
					<th>Name</th>
					<th class="text-right">ID</th>
					<th>&nbsp;</th>
				</tr>
				<% @do_ssh_keys.each do |x| %>
					<tr>
						<td><%= x.name %></td>
						<td class="text-right"><%= x.id %></td>
						<td>
							<%= link_to 'Delete', destroy_digital_ocean_ssh_key_path(id: x.id), method: :delete, class: 'btn btn-default pull-right', data: { confirm: 'Are you sure you want to delete this SSH key from Digital Ocean?' } %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% else %>
			<tr>
				<th>Name</th>
				<th class="text-right">ID</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<td>me</td>
				<td class="text-right">123</td>
				<td><a class="btn btn-default pull-right">Delete</a></td>
			</tr>
			<tr>
				<td>gamocosm</td>
				<td class="text-right">456</td>
				<td><a class="btn btn-default pull-right">Delete</a></td>
			</tr>
		<% end %>
	</table>
	<hr />
	<h4>Add SSH public key to Digital Ocean</h4>
	<%= simple_form_for :digital_ocean_ssh_key, (@demo.nil? ? { url: add_digital_ocean_ssh_key_path, method: :post } : { html: { onsubmit: 'return false;' } }) do |f| %>
		<%= f.input :name %>
		<%= f.input :data, as: :text, label: 'SSH Public Key' %>
		<%= f.button :submit, 'Add', class: 'btn btn-default' %>
	<% end %>
<% end %>
