<br />
<%= panel_with_heading 'Server Credentials' do %>
	<dl>
		<dt>Host</dt><dd><%= render_minecraft_ip_address(@minecraft, 'Your server\'s IP address when running') %></dd>
		<dt>Port</dt><dd>22 (default for SSH/SFTP)</dd>
		<dt>User</dt><dd>mcuser</dd>
		<dt>Password</dt><dd>Default: name of your server (<strong>you should change this!</strong>)</dd>
		<dt>FTP Protocol</dt><dd>SFTP</dd>
		<dt>FTP Logon Type</dt><dd>Normal (saves password) or Ask for password (every time)</dd>
	</dl>
<% end %>

<%= panel_with_heading 'Instructions' do %>
	<ul>
		<li>FTP instructions on the <%= link_to 'wiki', wiki_ftp_path %></li>
		<li>SSH instructions on the <%= link_to 'wiki', wiki_ssh_path %></li>
	</ul>
<% end %>

<%= panel_with_heading 'Changing your server password' do %>
	<ol>
		<li>SSH into your server</li>
		<li>Run <code>passwd</code></li>
		<li>Enter your new password into the prompt</li>
		<li>Exit (run <code>exit</code>)</li>
	</ol>
<% end %>
