<div class="row">
	<div class="col-sm-6">
		<%= panel_with_heading 'Domain / IP Address' do %>
			<%= render_minecraft_ip_address(@minecraft) %>
			<br />
			<%= link_to 'Learn more', info_path %>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%=panel_with_heading 'Status' do %>
			<%= render_server_status(@minecraft) %>
		<% end %>
	</div>
</div>
<% if @minecraft.owner?(current_user) && @minecraft.running? %>
	<div class="row">
		<div class="col-sm-12">
			<%= panel_with_heading 'Send Command to Server' do %>
				<%= simple_form_for :command, (@demo.nil? ? { url: command_minecraft_path(@minecraft) } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :data, as: :string %>
					<%= f.button :submit, 'Send', class: 'btn btn-success' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
<% if @minecraft.owner?(current_user) %>
	<div class="row">
		<div class="col-sm-6">
			<%= panel_with_heading 'Friends' do %>
				<table class="table table-striped">
					<tbody>
						<% if @minecraft.friends.blank? %>
							<tr><td colspan="2"><em>Tell your friends to sign up and add them to your server to let them start and stop it when you're offline.</em></td></tr>
						<% else %>
							<%= render partial: 'friend', collection: @minecraft.friends %>
						<% end %>
					</tbody>
				</table>
				<%= simple_form_for :minecraft_friend, (@demo.nil? ? { url: add_friend_minecraft_path(@minecraft), method: :post } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :email %>
					<%= f.button :submit, 'Add', class: 'btn btn-default' %>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-6">
			<%= panel_with_heading 'Autoshutdown' do %>
				Autoshutdown is <strong><%= @minecraft.autoshutdown_enabled ? 'enabled' : 'disabled' %></strong>
				<br />
				Last check: <strong><%= @minecraft.autoshutdown_last_check.nil? ? 'n/a' : (time_ago_in_words(@minecraft.autoshutdown_last_check) + ' ago') %></strong>
				<br />
				Last successful check: <strong><%= @minecraft.autoshutdown_last_successful.nil? ? 'n/a' : (time_ago_in_words(@minecraft.autoshutdown_last_successful) + ' ago') %></strong>
				<br />
				<% if @demo.nil? %>
					<% if @minecraft.autoshutdown_enabled %>
						<%= link_to 'Disable', autoshutdown_disable_minecraft_path(@minecraft), class: 'btn btn-success' %>
					<% else %>
						<%= link_to 'Enable', autoshutdown_enable_minecraft_path(@minecraft), class: 'btn btn-success' %>
					<% end %>
				<% else %>
					<a class="btn btn-success">Enable</a>
				<% end %>
				<br />
				<br />
				<i>
					Gamocosm is not responsible if something goes wrong, but it will try to notify you via email.
					It is your responsibility to periodically check on your servers.
					<%= link_to 'Learn more', info_path %>
				</i>
			<% end %>
		</div>
	</div>
<% end %>
