<div class="row">
	<div class="col-sm-6">
		<%= panel_with_heading 'Domain / IP Address' do %>
			<%= render_minecraft_ip_address(@minecraft) %>
			<br />
			<br />
			<i>
				The domain for a server won't change, but the IP might sometimes.
				Though rare, but possible under contrived circumstances, the domain may point to an old IP for up to 30 minutes (use the IP directly)
			</i>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%=panel_with_heading 'Status' do %>
			<%= render_server_status(@minecraft) %>
		<% end %>
	</div>
</div>
<% if @minecraft.owner?(current_user) && @minecraft.running? %>
	<div class="row">
		<div class="col-sm-12">
			<%= panel_with_heading 'Send Command to Server' do %>
				<%= simple_form_for :command, (@demo.nil? ? { url: command_minecraft_path(@minecraft) } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :data, as: :string %>
					<%= f.button :submit, 'Send', class: 'btn btn-success' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
<% if @minecraft.owner?(current_user) %>
	<div class="row">
		<div class="col-sm-6">
			<%= panel_with_heading 'Friends' do %>
				<table class="table table-striped">
					<tbody>
						<% if @minecraft.friends.blank? %>
							<tr><td colspan="2"><em>Tell your friends to sign up and add them to your server to let them start and stop it when you're offline.</em></td></tr>
						<% else %>
							<%= render partial: 'friend', collection: @minecraft.friends %>
						<% end %>
					</tbody>
				</table>
				<%= simple_form_for :minecraft_friend, (@demo.nil? ? { url: add_friend_minecraft_path(@minecraft), method: :post } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :email %>
					<%= f.button :submit, 'Add', class: 'btn btn-default' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
