<br />
<% if @minecraft.properties.nil? %>
	<p>Start server to edit Minecraft settings (<code><a href="http://minecraft.gamepedia.com/Server.properties">server.properties</a></code>)</p>
<% elsif @minecraft.properties.error? %>
	<p>Error getting Minecraft properties: <%= @minecraft.properties.error %></p>
<% else %>
	<%= simple_form_for @minecraft.properties, (@demo.nil? ? { url: update_properties_minecraft_path(@minecraft), method: :put } : { url: root_url, html: { onsubmit: 'return false;' } }) do |f| %>
		<%= panel_with_heading 'Minecraft Properties' do %>
			<%= f.input :allow_flight %>
			<%= f.input :allow_nether %>
			<%= f.input :announce_player_achievements %>
			<%= f.input :difficulty %>
			<%= f.input :enable_command_block %>
			<%= f.input :force_gamemode %>
			<%= f.input :gamemode %>
			<%= f.input :generate_structures %>
			<%= f.input :generator_settings %>
			<%= f.input :hardcore %>
			<%= f.input :level_seed %>
			<%= f.input :level_type %>
			<%= f.input :max_build_height %>
			<%= f.input :motd %>
			<%= f.input :online_mode %>
			<%= f.input :op_permission_level %>
			<%= f.input :player_idle_timeout %>
			<%= f.input :pvp %>
			<%= f.input :spawn_animals %>
			<%= f.input :spawn_monsters %>
			<%= f.input :spawn_npcs %>
			<%= f.input :spawn_protection %>
			<%= f.input :white_list %>
			<%= f.button :submit, 'Save', class: 'btn btn-success' %>
		<% end %>
	<% end %>
<% end %>
