<% if @demo.nil? %>
	<% if @minecraft.server.remote.error? %>
		<%= render partial: 'invalid' %>
	<% end %>
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h1><%= @minecraft.name %></h1>
			</div>
		</div>
	</div>
<% end %>
<% if @minecraft.server.busy? %>
	<%= render partial: 'busy' %>
<% else %>
	<% if @minecraft.owner?(current_user) %>
		<div class="row">
			<div class="col-sm-9">
				<ul class="nav nav-tabs">
					<% if @demo.nil? %>
						<li class="<%= @minecraft_advanced_tab.nil? && @minecraft_ftp_ssh_tab.nil? ? 'active' : '' %>"><%= link_to 'Profile', minecraft_path(@minecraft, anchor: 'profile'), 'data-toggle' => 'tab' %></li>
						<li><%= link_to 'Minecraft Settings', minecraft_path(@minecraft, anchor: 'settings'), 'data-toggle' => 'tab' %></li>
						<li class="<%= @minecraft_ftp_ssh_tab ? 'active' : '' %>"><%= link_to 'FTP and SSH', minecraft_path(@minecraft, anchor: 'ftp_ssh'), 'data-toggle' => 'tab' %></li>
						<li class="<%= @minecraft_advanced_tab ? 'active' : '' %>"><%= link_to 'Advanced', minecraft_path(@minecraft, anchor: 'advanced'), 'data-toggle' => 'tab' %></li>
					<% else %>
						<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
						<li><a href="#settings" data-toggle="tab">Minecraft Settings</a></li>
						<li><a href="#ftp_ssh" data-toggle="tab">FTP and SSH</a></li>
						<li><a href="#advanced" data-toggle="tab">Advanced</a></li>
					<% end %>
				</ul>

				<div class="tab-content">
					<div class="tab-pane <%= @minecraft_advanced_tab.nil? && @minecraft_ftp_ssh_tab.nil? ? 'active' : '' %>" id="profile">
						<br />
						<%= render partial: 'minecrafts/profile' %>
					</div>
					<div class="tab-pane" id="settings">
						<%= render partial: 'minecrafts/settings' %>
					</div>
					<div class="tab-pane <%= @minecraft_ftp_ssh_tab ? 'active' : '' %>" id="ftp_ssh">
						<%= render partial: 'minecrafts/ftp_ssh' %>
					</div>
					<div class="tab-pane <%= @minecraft_advanced_tab ? 'active' : '' %>" id="advanced">
						<%= render partial: 'minecrafts/advanced' %>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<%= render partial: 'minecrafts/control_panel' %>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-sm-9">
				<%= render partial: 'minecrafts/profile' %>
			</div>
			<div class="col-sm-3">
				<%= render partial: 'minecrafts/control_panel' %>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="col-sm-9">
			<%= render partial: 'minecrafts/help' %>
			<%= render partial: 'minecrafts/logs' %>
		</div>
	</div>
<% end %>
