<%= simple_form_for @server, url: server_path(@server), method: :put do |f| %>
	<%= panel_with_heading 'Advanced Configuration' do %>
		View the documentation for these fields on the <%= link_to 'wiki', wiki_url('Server-Advanced-Tab-Documentation') %>.
		<br /><br />
		<%= f.input :ssh_port, label: 'SSH port' %>
		<%= f.input :pending_operation %>
		<%= f.input :setup_stage %>
		<%= f.input :remote_snapshot_id, label: 'Digital Ocean saved snapshot id' %>
		<%= f.input :remote_region_slug, label: 'Digital Ocean region slug' %>
		<%= f.input :remote_size_slug, label: 'Digital Ocean size slug' %>
		<%= f.input :api_key, label: 'API key' %>
		<p class="help-block">
			Example: <code><%= url_for status_api_server_path(@server, @server.api_key) %></code>.
		</p>
		<%= f.input :preserve_snapshot, label: 'Preserve snapshot', as: :select, include_blank: false %>
		<%= f.simple_fields_for :minecraft do |f_m| %>
			<%= f_m.input :mcsw_password, label: 'MCSW key', as: :string %>
		<% end %>
		<%= f.button :submit, 'Update', class: 'btn btn-success' %>
	<% end %>
<% end %>
