<%= panel_with_heading 'Server Credentials' do %>
	<p>FTP and SSH instructions are on the <%= link_to 'wiki', wiki_ftp_ssh_path %>.</p>
	<table class="ftp-details table">
		<tr><th scope="row">Host</th><td><%= render_server_ip_address(@server, 'Your server\'s IP address when running') %></td></tr>
		<tr><th scope="row">Port</th><td><%= @server.ssh_port %></td></tr>
		<tr><th scope="row">User</th><td>mcuser</td></tr>
		<tr><th scope="row">Password</th>
		<td><p>Defaults to your email and the name of your server separated with a plus, e.g. "steve@example.com+terrafirmacraft" (<strong>you should change this!</strong>)</p>
			<p>Even if you specify SSH key(s) to add to your server, a password must be set for you to use sudo</p>
		</td></tr>
		<tr><th scope="row">FTP Protocol</th><td>SFTP</td></tr>
		<tr><th scope="row">FTP Logon Type</th><td>Normal (saves password) or Ask for password (every time)</td></tr>
	</table>
<% end %>

<%= panel_with_heading 'Changing your server password' do %>
	<ol>
		<li>SSH into your server</li>
		<li>Run <code>passwd</code></li>
		<li>Enter your old and new password into the prompt</li>
		<li>Exit (run <code>exit</code>)</li>
	</ol>
<% end %>

<%= panel_with_heading 'SSH Keys' do %>
	<p>
		The next time you start your server, Gamocosm will add these keys to your list of authorized keys (and reset this field)
	</p>
	<%= form_for @server, (@demo.nil? ? { url: server_path(@server), method: :put } : { html: { onsubmit: 'return false;' } }) do |f| %>
		<%= f.label :ssh_keys, class: "sr-only" %>
		<div class="input-group">
			<%= f.text_field :ssh_keys, class: "form-control" %>
			<span class="input-group-btn">
				<%= f.submit 'Save', class: 'btn btn-default' %>
			</span>
		</div>
		<p class="help-block">Comma separated list of Digital Ocean SSH key IDs (spaces will be stripped)</p>
	<% end %>
	<hr />
	<h4>SSH keys on Digital Ocean</h4>
	<% if @demo.nil? %>
		<table id="digital_ocean_ssh_keys" class="table table-striped table-no_fixed" data-url="<%= show_digital_ocean_ssh_keys_path %>">
			<tr><td><i>Fetching data ...</i></td></tr>
		</table>
	<% else %>
		<table class="table table-striped table-no_fixed">
			<tr>
				<th>Name</th>
				<th class="text-right">ID</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<td>me</td>
				<td class="text-right">123</td>
				<td><a class="btn btn-default pull-right">Delete</a></td>
			</tr>
			<tr>
				<td>gamocosm</td>
				<td class="text-right">456</td>
				<td><a class="btn btn-default pull-right">Delete</a></td>
			</tr>
		</table>
	<% end %>
	<hr />
	<h4>Add SSH public key to Digital Ocean</h4>
	<%= simple_form_for :digital_ocean_ssh_key, (@demo.nil? ? { url: add_digital_ocean_ssh_key_path, method: :post } : { html: { onsubmit: 'return false;' } }) do |f| %>
		<%= f.input :name %>
		<%= f.input :data, as: :text, label: 'SSH Public Key' %>
		<%= f.button :submit, 'Add', class: 'btn btn-default' %>
	<% end %>
<% end %>
