<div class="row">
	<div class="col-sm-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					Server Log (<%= @server.logs.size %>)
				</h4>
			</div>
			<div id="server_log_panel" class="panel-body">
				<% if @server.logs.count == 0 %>
					<em>No messages</em>
				<% else %>
					<table class="table table-striped">
						<tbody>
							<% @server.logs.order('created_at DESC').each do |x| %>
								<tr>
									<td>
										<div>
											<%= x.when %>
											<div class="pull-right"><%= x.debuginfo %></div>
										</div>
										<p>
											<%= x.message %>
										</p>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
					<% if @server.owner?(current_user) %>
						<%= link_to 'Clear', clear_logs_server_path(@server), method: :delete, class: 'btn btn-default pull-right' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
