<div class="row">
	<div class="col-sm-6">
		<%= panel_with_heading 'Domain / IP Address' do %>
			<%= render_server_ip_address(@server) %>
			<br />
			<%= link_to 'Learn more', about_path %>
		<% end %>
	</div>
	<div class="col-sm-6">
		<%=panel_with_heading 'Status' do %>
			<%= render_server_status(@server) %>
		<% end %>
	</div>
</div>
<% if @server.minecraft.exec?(current_user).nil? %>
	<div class="row">
		<div class="col-sm-12">
			<%= panel_with_heading 'Send Command to Server' do %>
				<%= simple_form_for :command, (@demo.nil? ? { url: command_server_path(@server) } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :data, as: :string %>
					<%= f.button :submit, 'Send', class: 'btn btn-success' %>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>
<% if @server.owner?(current_user) %>
	<div class="row">
		<div class="col-sm-6">
			<%= panel_with_heading 'Friends' do %>
				<table class="table table-striped">
					<tbody>
						<% if @server.friends.blank? %>
							<tr><td colspan="2"><em>Tell your friends to sign up and add them to your server to let them start and stop it when you're offline.</em></td></tr>
						<% else %>
							<%= render partial: 'friend', collection: @server.friends %>
						<% end %>
					</tbody>
				</table>
				<%= simple_form_for :server_friend, (@demo.nil? ? { url: add_friend_server_path(@server), method: :post } : { html: { onsubmit: 'return false;' } }) do |f| %>
					<%= f.input :email %>
					<%= f.button :submit, 'Add', class: 'btn btn-default' %>
				<% end %>
			<% end %>
		</div>
		<div class="col-sm-6">
			<%= panel_with_heading 'Autoshutdown' do %>
				Autoshutdown is <strong><%= @server.minecraft.autoshutdown_enabled ? 'enabled' : 'disabled' %></strong>
				<br />
				Last check: <strong><%= time_ago_in_words(@server.minecraft.autoshutdown_last_check) + ' ago' %></strong>
				<br />
				Last successful check: <strong><%= time_ago_in_words(@server.minecraft.autoshutdown_last_successful) + ' ago' %></strong>
				<br />
				<% if @demo.nil? %>
					<% if @server.minecraft.autoshutdown_enabled %>
						<%= link_to 'Disable', autoshutdown_disable_server_path(@server), class: 'btn btn-success' %>
					<% else %>
						<%= link_to 'Enable', autoshutdown_enable_server_path(@server), class: 'btn btn-success' %>
					<% end %>
				<% else %>
					<a class="btn btn-success">Disable</a>
				<% end %>
				<br />
				<br />
				<p>
					Autoshutdown after <b><%= @server.minecraft.autoshutdown_minutes %> minutes</b>.
					<br />
					Change this under the "Schedule" tab.
				</p>
				<i>
					Gamocosm is not responsible if something goes wrong, but it will try to notify you via email.
					It is your responsibility to periodically check on your servers.
					<%= link_to 'Learn more', about_path %>
				</i>
			<% end %>
		</div>
	</div>
<% end %>
