<div class="row">
	<div class="col-sm-12">
		<%= panel_with_heading 'Information' do %>
			<ul>
				<li>Always back up your server and keep your own copies!</li>
				<li>Stop the physical server when no-one is playing.
				Digital Ocean charges you when the server is running.
				</li>
				<li>Stop Minecraft before backing up or downloading your world, or editing files (configuration, mods, plugins, etc.).</li>
				<li>For more information read the <%= link_to 'About page', about_path %> or the <%= link_to 'wiki', wiki_url %>.</li>
				<li>Read more about using different version of Minecraft or specifying JVM arguments on the <%= link_to 'wiki', wiki_url('Installing-Different-Versions-of-Minecraft') %>.</li>
				<li>Server taking a long time to start/stop? Read about using volumes on the <%= link_to 'wiki', wiki_url('Using-Digital-Ocean-Volumes') %>.</li>
				<li>For problems, check the <%= link_to 'Troubleshooting page', wiki_url('Troubleshooting') %> on the wiki, or submit an issue on <%= link_to 'GitHub', issues_url %>.</li>
			</ul>
		<% end %>
	</div>
</div>
