<div class="row">
	<div class="col-sm-12">
		<%= panel_with_heading 'Tips' do %>
			<ul>
				<li>Always back up your server locally!</li>
				<li>Stop the physical server when no-one is playing.
				Digital Ocean charges you when the server is running.
				</li>
				<li>Stop Minecraft before backing up or downloading your world, or editing files (configuration, mods, plugins, etc.)</li>
				<li>If something fails while setting up the server, try the "reboot" button.
				It will attempt the process again.
				</li>
				<li>For more information read the <%= link_to 'About page', about_path %> or the <%= link_to 'wiki', wiki_path %></li>
				<li>For problems, check the <%= link_to 'Troubleshooting page', wiki_troubleshooting_path %> on the wiki, or submit an issue on <%= link_to 'GitHub', issues_path %></li>
			</ul>
		<% end %>
	</div>
</div>
