<% title 'My Servers - Gamocosm' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>
				Servers <small>for <%= current_user.email %></small>
				<%= link_to 'Open a support ticket', issues_path, class: 'btn btn-lg btn-default pull-right' %>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td colspan="2">Domain / IP Address</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			<% if @servers.blank? && @servers.blank? %>
				<tr>
					<td colspan="4" class="text-center">
						<em>You have no servers</em>
					</td>
				</tr>
			<% else %>
				<%= render partial: 'server', collection: @servers %>
				<%= render partial: 'server', collection: @friend_servers %>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Server</h3>
			</div>
			<div class="panel-body">
				<%= render partial: 'create' %>
			</div>
		</div>
	</div>
</div>
<% if !current_user.digital_ocean_missing? %>
	<%= render partial: 'digital_ocean_panel' %>
<% end %>
