<% title 'My Servers - Gamocosm' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>
				Servers <small>for <%= current_user.email %></small>
				<div class="pull-right">
					<%= link_to new_server_path, class: 'btn btn-lg btn-primary' do %>
						<span class="fa fa-plus"></span> Create server
					<% end %>
					<%= link_to 'Open a support ticket', issues_path, class: 'btn btn-lg btn-default' %>
				</div>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<td colspan="2">Name</td>
					<td colspan="3">Domain / IP Address</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			<% if @servers.blank? && @friend_servers.blank? %>
				<tr>
					<td colspan="6" class="text-center">
						<em>You have no servers</em>
					</td>
				</tr>
			<% else %>
				<%= render partial: 'server', collection: @servers %>
				<%= render partial: 'server', collection: @friend_servers %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>
<% if !current_user.digital_ocean_missing? %>
	<%= render partial: 'digital_ocean_panel' %>
<% end %>
