<% title 'New Server - Gamocosm' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<%= breadcrumb_back_to_servers %>
			<h1>New Server</h1>
		</div>
		<% if current_user.digital_ocean_missing? %>
			Gamocosm is an <%= link_to 'open source project', source_url %> to help players host cloud Minecraft servers, but Gamocosm doesn't host the servers ourselves.
			Create an account on <%= render_digital_ocean_referral_link('%s (%s)', 'Digital Ocean') %>, a server host, and enter your API token in your <%= link_to 'settings', edit_user_registration_path %>.
			<strong>If you are not a server admin, you can ignore this.</strong>
			See the <%= link_to 'Digital Ocean documentation', digital_ocean_api_setup_url %> for instructions on creating an API token.
		<% else %>
			<%= simple_form_for @server do |f| %>
				<%= f.input :name, input_html: { size: 32 }, required: true %>
				<%= f.input :remote_size_slug, collection: @do_sizes.collect { |x| [x.descriptor, x.slug] }, as: :select, include_blank: true, label: 'Size' %>
				<%= f.input :remote_region_slug, collection: @do_regions.collect { |x| [x.name, x.slug] }, as: :select, include_blank: true, label: 'Region' %>
				<%= f.simple_fields_for :minecraft do |s_f| %>
					<%= s_f.input :flavour, collection: Gamocosm::MINECRAFT_FLAVOURS.collect { |k, v| [v[:name], k] }, as: :select, include_blank: true, label: 'Minecraft flavour', required: true %>
				<% end %>
				<div>
					<%= render partial: 'flavour', collection: Gamocosm::MINECRAFT_FLAVOURS.map { |k, v| [k, v] } %>
				</div>
				<p class="help-block">
					Have you tried <%= link_to 'Cuberite', cuberite_website_url %>, the performant C++ Minecraft server?
					You can always change your server/setup yourself.
					<%= link_to 'Read more', wiki_url('Installing-different-versions-of-Minecraft') %>
				</p>
				<br />
				<ol>
					<li>I understand that Gamocosm does not host my server.</li>
					<li>I understand that Digital Ocean will charge me for this server when I start it.</li>
					<li>I understand Digital Ocean's pricing policy.</li>
					<li>I understand that to halt server charges when I stop the server, Gamocosm snapshots and destroys it for me.</li>
					<li>I understand that Digital Ocean charges $0.05 per GB per month for snapshots (average $0.10 to $0.20 per month).</li>
					<li>I will stop or destroy the server when I am done using it.</li>
				</ol>
				<br />
				<%= render_digital_ocean_referral_link('%s (%s)', 'Digital Ocean pricing page', 'https://digitalocean.com/pricing/') %>
				<button class="btn btn-default pull-right" type="submit" onclick="return confirm('I have read the disclaimers.')">
					Next <i class="fa fa-chevron-right"></i>
				</button>
				<br />
				<br />
				<br />
			<% end %>
		<% end %>
	</div>
</div>
