<% if @demo.nil? %>
	<% title "#{@server.name} - Gamocosm" %>
	<% if @server.remote.error? %>
		<%= render partial: 'invalid' %>
	<% end %>
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<%= breadcrumb_back_to_servers %>
				<h1>
					<%= @server.name %>
					<small><%= @server.remote_region_slug %>/<%= @server.remote_size_slug %></small>
					<% if !@server.volume.nil? %>
						<small>(volume <%= @server.volume.name %>)</small>
					<% end %>
				</h1>
				<%= render partial: 'servers/control_panel' %>
			</div>
		</div>
	</div>
<% end %>
<% if @server.busy? %>
	<%= render partial: 'busy' %>
<% else %>
	<% if @server.owner?(current_user) %>
		<div class="row">
			<div class="col-sm-2">
				<ul class="nav nav-pills nav-stacked">
					<% if @demo.nil? %>
						<li class="<%= @server_tab.nil? ? 'active' : '' %>"><%= link_to 'Profile', server_path(@server, anchor: 'profile'), 'data-toggle' => 'tab' %></li>
						<li><%= link_to 'Minecraft Settings', server_path(@server, anchor: 'settings'), 'data-toggle' => 'tab' %></li>
						<li class="<%= @server_tab == :ftp_ssh ? 'active' : '' %>"><%= link_to 'SSH and FTP', server_path(@server, anchor: 'ftp_ssh'), 'data-toggle' => 'tab' %></li>
						<li class="<%= @server_tab == :schedule ? 'active' : '' %>"><%= link_to 'Schedule', server_path(@server, anchor: 'schedule'), 'data-toggle' => 'tab' %></li>
						<li class="<%= @server_tab == :advanced ? 'active' : '' %>"><%= link_to 'Advanced', server_path(@server, anchor: 'advanced'), 'data-toggle' => 'tab' %></li>
					<% else %>
						<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
						<li><a href="#settings" data-toggle="tab">Minecraft Settings</a></li>
						<li><a href="#ftp_ssh" data-toggle="tab">SSH and FTP</a></li>
						<li><a href="#schedule" data-toggle="tab">Schedule</a></li>
						<li><a href="#advanced" data-toggle="tab">Advanced</a></li>
					<% end %>
				</ul>
			</div>

			<div class="col-sm-10">
				<div class="tab-content">
					<div class="tab-pane <%= @server_tab.nil? ? 'active' : '' %>" id="profile">
						<%= render partial: 'servers/profile' %>
					</div>
					<div class="tab-pane" id="settings">
						<%= render partial: 'servers/settings' %>
					</div>
					<div class="tab-pane <%= @server_tab == :ftp_ssh ? 'active' : '' %>" id="ftp_ssh">
						<%= render partial: 'servers/ftp_ssh' %>
					</div>
					<div class="tab-pane <%= @server_tab == :schedule ? 'active' : '' %>" id="schedule">
						<%= render partial: 'servers/schedule' %>
					</div>
					<div class="tab-pane <%= @server_tab == :advanced ? 'active' : '' %>" id="advanced">
						<%= render partial: 'servers/advanced' %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-sm-12">
				<%= render partial: 'servers/profile' %>
			</div>
		</div>
	<% end %>
<% end %>
