<% title 'Forgot your password - Gamocosm' %>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default login-pane">
			<div class="panel-header text-center">
				<h2>Forgot your password?</h2>
			</div>
			<div class="panel-body">
				<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
					<%= f.error_notification %>

					<div class="form-group">
						<%= f.input :email, required: true, autofocus: true %>
					</div>

					<div class="form-group text-center">
						<%= f.button :submit, "Send me reset password instructions", class: "btn btn-lg btn-primary" %>
					</div>
				<% end %>
				<hr />
				<%= render "devise/shared/links" %>
			</div>
		</div>
	</div>
</div>
