<p id="notice"><%= notice %></p>

<h1>Volumes</h1>

<table>
  <thead>
    <tr>
      <th>Remote</th>
      <th>Remote size gb</th>
      <th>Remote region slug</th>
      <th>Remote snapshot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume.remote_id %></td>
        <td><%= volume.remote_size_gb %></td>
        <td><%= volume.remote_region_slug %></td>
        <td><%= volume.remote_snapshot_id %></td>
        <td><%= link_to 'Show', volume %></td>
        <td><%= link_to 'Edit', edit_volume_path(volume) %></td>
        <td><%= link_to 'Destroy', volume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Volume', new_volume_path %>
