<% title 'My Volumes - Gamocosm' %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>
				Volumes <small>for <%= current_user.email %></small>
				<div class="pull-right">
					<%= link_to new_volume_path, class: 'btn btn-lg btn-primary' do %>
						<span class="fa fa-plus"></span> Create volume
					<% end %>
					<%= link_to 'Open a support ticket', issues_link, class: 'btn btn-lg btn-default' %>
				</div>
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<td colspan="2">Name</td>
					<td colspan="2">Server</td>
					<td>Status</td>
					<td colspan="3">Remote ID</td>
				</tr>
			</thead>
			<tbody>
			<% if @volumes.blank? %>
				<tr>
					<td colspan="8" class="text-center">
						<em>You have no volumes</em>
					</td>
				</tr>
			<% else %>
				<% @volumes.each do |v| %>
					<tr>
						<td colspan="2"><%= link_to v.name, volume_path(v) %></td>
						<td colspan="2"><%= v.server.nil? ? 'n/a' : v.server.name %></td>
						<td><%= v.status %></li>
						<td colspan="3"><%= v.remote_id.nil? ? 'n/a' : v.remote_id %></td>
					</tr>
				<% end %>
			<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<%= panel_with_heading 'Digital Ocean' do %>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					This information is provided for you to help you monitor your Digital Ocean account.
					You can always log into <%= link_to 'Digital Ocean\'s control panel', digital_ocean_control_panel_link %> for more control.
					<br />
					<div class="text-center">
						<%= link_to 'Refresh cache', refresh_digital_ocean_cache_path, method: :delete %>
						&bull; <%= link_to 'Digital Ocean status', digital_ocean_status_link %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h4>Volumes</h4>
					<table id="digital_ocean_volumes" class="table table-striped table-no_fixed" data-url="<%= show_digital_ocean_volumes_path %>">
						<tr><td><i>Fetching data ...</i></td></tr>
					</table>
				</div>
				<div class="col-sm-6">
					<h4>Snapshots</h4>
					<table id="digital_ocean_snapshots" class="table table-striped table-no_fixed" data-url="<%= show_digital_ocean_snapshots_path %>">
						<tr><td><i>Fetching data ...</i></td></tr>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>
