<p id="notice"><%= notice %></p>

<p>
  <strong>Remote:</strong>
  <%= @volume.remote_id %>
</p>

<p>
  <strong>Remote size gb:</strong>
  <%= @volume.remote_size_gb %>
</p>

<p>
  <strong>Remote region slug:</strong>
  <%= @volume.remote_region_slug %>
</p>

<p>
  <strong>Remote snapshot:</strong>
  <%= @volume.remote_snapshot_id %>
</p>

<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
