<% if current_user.digital_ocean_invalid? %>
	<%= render partial: 'digital_ocean_invalid' %>
<% end %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Servers <small>for <%= current_user.email %></small></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Domain / IP</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			<% if @servers.blank? && @friend_minecraft_servers.blank? %>
				<%= render 'empty' %>
			<% else %>
				<%= render partial: 'minecraft_servers/server', collection: @servers %>
				<%= render partial: 'minecraft_servers/server', collection: @friend_minecraft_servers %>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Server</h3>
			</div>
			<div class="panel-body">
				<%= simple_form_for @server, as: :minecraft_server, url: minecraft_servers_path do |f| %>
					<%= f.input :name, input_html: { size: 32 } %>
					<%= f.input :digital_ocean_size_slug, collection: DigitalOcean::DropletSize.new.all.collect { |x| [x[:descriptor], x[:slug]] }, as: :select, include_blank: false %>
					<%= f.input :digital_ocean_region_slug, collection: DigitalOcean::DropletRegion.new.all.collect { |x| [x[:name], x[:slug]] }, as: :select, include_blank: false %>
					<%= link_to 'Digital Ocean pricing', digital_ocean_pricing_path %>
					<button class="btn btn-default pull-right<%= current_user.digital_ocean_invalid? ? 'disabled' : '' %>" type="submit">
						Next <i class="fa fa-chevron-right"></i>
					</button>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<%= panel_with_heading 'Digital Ocean' do %>
			<div class="row">
				<div class="col-sm-8 col-sm-offset-2">
					This information is provided for you to make it easy to monitor your Digital Ocean account.
					<br />If you see orphaned servers or snapshots, you should log into <%= link_to 'Digital Ocean\'s control panel', digital_ocean_control_panel_path %> and delete them.
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<h4>Droplets</h4>
					<table class="table table-striped">
						<% if @droplets.blank? %>
							<tr><td><em>You have no droplets on Digital Ocean</em></td></tr>
						<% else %>
							<% @droplets.each do |x| %>
								<tr><td><%= x.name %></td></tr>
							<% end %>
						<% end %>
					</table>
				</div>
				<div class="col-sm-6">
					<h4>Snapshots</h4>
					<table class="table table-striped">
						<% if @snapshots.blank? %>
							<tr><td><em>You have no snapshots on Digital Ocean</em></td></tr>
						<% else %>
							<% @snapshots.each do |x| %>
								<tr><td><%= x.name %></td></tr>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>
