<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1>Servers <small>for <%= current_user.email %></small></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Name</td>
					<td>Domain / IP</td>
					<td>Status</td>
				</tr>
			</thead>
			<tbody>
			<% if @servers.blank? %>
				<%= render 'empty' %>
			<% else %>
				<%= render partial: 'minecraft_servers/server', collection: @servers %>
			<% end %>
			</tbody>
		</table>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">New Server</h3>
			</div>
			<div class="panel-body">
				<%= simple_form_for @server, as: :minecraft_server, url: minecraft_servers_path do |f| %>
					<%= f.input :name, input_html: { size: 32 } %>
					<%= f.input :digital_ocean_droplet_size_id, collection: DigitalOcean::DropletSize.new.available.collect { |x| [x.descriptor, x.id] }, as: :select, include_blank: false %>
					<p class="text-center">
						<button class="btn btn-invert" type="submit">
							Next <i class="fa fa-chevron-right"></i>
						</button>
					</p>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<%= panel_with_heading 'Digital Ocean' do %>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					This information is provided for you to make it easy to monitor your Digital Ocean account.
					<br />If you see orphaned servers or snapshots, you should log into <%= link_to 'Digital Ocean\'s control panel', 'https://cloud.digitalocean.com/login' %> and delete them.
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<h4>Droplets</h4>
					<table class="table table-striped">
						<% if @droplets.blank? %>
							<tr><td><em>You have no droplets on Digital Ocean</em></td></tr>
						<% else %>
							<% @droplets.each do |x| %>
								<tr><td><%= x.name %></td></tr>
							<% end %>
						<% end %>
					</table>
				</div>
				<div class="col-lg-6">
					<h4>Snapshots</h4>
					<table class="table table-striped">
						<% if @snapshots.blank? %>
							<tr><td><em>You have no snapshots on Digital Ocean</em></td></tr>
						<% else %>
							<% @snapshots.each do |x| %>
								<tr><td><%= x.name %></td></tr>
							<% end %>
						<% end %>
					</table>
				</div>
			</div>
		<% end %>
	</div>
</div>
