<% if @server.user.digital_ocean_invalid? %>
	<%= render partial: 'digital_ocean_invalid' %>
<% end %>
<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1><%= @server.name %></h1>
		</div>
	</div>
</div>
<% if @server.busy? %>
	<%= render partial: 'busy' %>
<% else %>
	<% if @server.is_owner?(current_user) %>
		<div class="row">
			<div class="col-sm-9">
				<ul class="nav nav-tabs">
					<li class="active"><%= link_to 'Profile', minecraft_server_path(@server, anchor: 'profile'), 'data-toggle' => 'tab' %></li>
					<li><%= link_to 'Minecraft Settings', minecraft_server_path(@server, anchor: 'settings'), 'data-toggle' => 'tab' %></li>
					<li><%= link_to 'FTP and SSH Access', minecraft_server_path(@server, anchor: 'ftp_ssh'), 'data-toggle' => 'tab' %></li>
					<li><%= link_to 'Advanced', minecraft_server_path(@server, anchor: 'advanced'), 'data-toggle' => 'tab' %></li>
				</ul>

				<div class="tab-content">
					<div class="tab-pane active" id="profile">
						<br />
						<%= render partial: 'profile' %>
					</div>
					<div class="tab-pane" id="settings">
						<%= render partial: 'settings' %>
					</div>
					<div class="tab-pane" id="ftp_ssh">
						<%= render partial: 'ftp_ssh' %>
					</div>
					<div class="tab-pane" id="advanced">
						<%= render partial: 'advanced' %>
					</div>
				</div>
			</div>

			<div class="col-sm-3">
				<%= render partial: 'control_panel' %>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-sm-9">
				<%= render partial: 'profile' %>
			</div>
			<div class="col-sm-3">
				<%= render partial: 'control_panel' %>
			</div>
		</div>
	<% end %>
	<%= render partial: 'help' %>
<% end %>
