<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<h1><%= @server.name %></h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-9">
		<ul class="nav nav-tabs">
			<%= active_link_to 'Profile', minecraft_server_path(@server), active: :exclusive, wrap_tag: :li %>
			<%= active_link_to 'Minecraft Settings', minecraft_server_settings_path(@server), wrap_tag: :li %>
			<%= active_link_to 'FTP and SSH Access', minecraft_server_ftp_ssh_access_path(@server), wrap_tag: :li %>
		</ul>

		<div>
			<% if is_active_link?(minecraft_server_path(@server), :exclusive) %>
				<%= render partial: 'profile' %>
			<% elsif is_active_link?(minecraft_server_settings_path(@server)) %>
				<%= render partial: 'settings' %>
			<% elsif is_active_link?(minecraft_server_ftp_ssh_access_path(@server)) %>
				<%= render partial: 'ftp_ssh' %>
			<% end %>
		</div>
	</div>

	<div class="col-lg-3">
		<%= panel_with_heading 'Control Panel' do %>

		<% end %>
	</div>
</div>
