<% title 'Digital Ocean Instructions - Gamocosm' %>
<% content_for :meta_description, 'Instructions for setting up Digital Ocean on Gamocosm' %>
<div class="row">
  <div class="col-sm-12">
    <h1>Digital Ocean and Gamocosm Setup</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <p>Gamocosm doesn't charge you for hosting servers (it only manages your servers, and it's free).
    Your servers are hosted on Digital Ocean, a cloud hosting service.
    You will be charged by Digital Ocean for hosting your servers.
    Gamocosm requires API access to do stuff such as setting up a new server, or backing up and stopping servers.
    To learn more, see the <%= link_to 'About page', about_path %>.
    <ol>
      <li>
        Sign up on <%= render_digital_ocean_referral_link('%s (%s)', 'Digital Ocean') %>
        <ul>
          <li>You literally get a $100 credit for the first 2 months if you sign up using a referral link
          (see <%= render_digital_ocean_referral_link('%s, %s', 'here', 'https://www.digitalocean.com/referral-program/') %>)</li>
        </ul>
      </li>
      <li>On the top right, click on your avatar to bring down a drop-down menu</li>
      <li>Click on "Account"</li>
      <li>Click on "Billing", and scroll down</li>
      <li>Add billing information for Digital Ocean to get your $100 credit (image below)</li>
      <li>On the left (in dark blue), under "Manage", click on "API" (image below)</li>
      <li>To the right of "Personal access tokens", click "Generate New Token"</li>
      <li>Ensure both "Read" and "Write" under "Select scopes" are checked</li>
      <li>Copy the token and save it in your settings</li>
    </ol>
  </div>
  <div class="col-sm-4">
    <%= image_tag 'digital_ocean-account.png', size: '350x250', class: 'img-thumbnail' %>
  </div>
</div>
<div class="row text-center">
  <div class="col-sm-12">
    <%= image_tag 'digital_ocean-sign_up.png', size: '900x580', class: 'img-thumbnail' %>
    <br />
    <br />
    <%= image_tag 'digital_ocean-billing.png', size: '900x580', class: 'img-thumbnail' %>
    <br />
    <br />
    <%= image_tag 'digital_ocean-api.png', size: '900x580', class: 'img-thumbnail' %>
    <br />
    <br />
  </div>
</div>
