<div class="row">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>FAQ</h1>
		</div>
		<dl class="faq">
			<dt>There's a bug!</dt>
			<dd>Do one of the following:<ul>
				<li>File an <%= link_to 'issue on GitHub', issues_path %></li>
				<li>Developers may be online on IRC at <code>#gamocosm</code> on <code>irc.esper.net</code>
			</ul></dd>

			<dt>Why does it take so long to start/stop a server?</dt>
			<dd>Cloud hosting providers continue to charge you when your server is off, because resources are still allocated for you.
			What you can do is backup the server, destroy it, and restore the server from the backup the next time you need it.
			This is one of the things Gamocosm does for you automatically. It is a tradeoff so you can have the insanely low prices.
			Read more about how this works in the <%= link_to 'About page', about_path %>.
			</dd>

			<dt>What's the difference between the domain and IP address?</dt>
			<dd>
				An IP address locates an actual server.
				Domains map to IP addresses, and are used because they're easier to remember.
				Occasionally, the IP of your server may change, but the domain we create for your servers will always be the same.
				However, domains may point to an old IP for up to 30 minutes.
				This is a technical limitation of Digital Ocean's DNS servers.
			</dd>

			<dt>Where is Minecraft on my server?</dt>
			<dd>Your home directory is <code>/home/mcuser/</code>.
			Sometimes this is shortened as a tilda (<code>~</code>).
			Minecraft is installed in <code>~/minecraft/</code></dd>

			<dt>How do I edit the ops or whitelist?</dt>
			<dd><ul>
				<li>If there is already an operator on the server, he can op/deop/whitelist other players in chat</li>
				<li>Start the Minecraft server</li>
				<li>Under "Send Command to Server", <code>op</code>, <code>deop</code>, or <code>whitelist add/remove</code> players</li>
			</ul></dd>

			<dt>Where are my server backups?</dt>
			<dd>Backups are saved on your server in <code>~/minecraft/backups/</code>.
			However, it is recommended that you download backups (e.g. via FTP) from time to time,
			and keep your own local backups</dd>

			<dt>How do I FTP or SSH?</dt>
			<dd>See this <%= link_to 'wiki page', wiki_ftp_ssh_path %>.</dd>

			<dt>How do I run different Minecraft versions, modded, or custom servers (e.g. Bukkit, Forge, MC-Server)?</dt>
			<dd>See <%= link_to 'this page', wiki_minecraft_versions_path %></dd>

			<dt>Why/how do I set up Gamocosm with Digital Ocean?</dt>
			<dd>See <%= link_to 'this page', digital_ocean_setup_path %></dd>
		</dl>
	</div>
</div>

