<div id="landing_main" class="row">
	<div class="col-sm-12">
		<div class="jumbotron text-center">
			<h1>Gamocosm</h1>
			<p>An <%= link_to 'open source', source_path %> project to help you host cloud Minecraft servers.</p>
			<p>Cloud servers are charged by the hour. Why pay 24/7 if you don't play 24/7?</p>
			<p><%= link_to 'Learn more <i class="fa fa-chevron-right"></i>'.html_safe, about_path, class: 'btn-lg btn-default' %></p>
			<br />
			<p><%= link_to 'Friend of someone hosting a server? Sign up here!', new_user_registration_path, class: 'btn-lg btn-success' %></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<h1 class="text-center">1. Sign up on <%= link_to 'Digital Ocean', digital_ocean_index_path %></h1>
		<h3 class="text-center">Digital Ocean is a cloud hosting provider</h3>
		<div class="text-center">
			<%= link_to image_tag('digital_ocean-screenshot.png', size: '600x375', alt: 'Digital Ocean', class: 'img-thumbnail'), digital_ocean_index_path %>
		</div>
	</div>
	<div class="col-lg-6">
		<h1 class="text-center">2. Setup your account</h1>
		<h3 class="text-center">Allow us to automate your servers</h3>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<%= simple_form_for(User.new, as: 'user', url: registration_path('user')) do |f| %>
					<%= f.error_notification %>

					<div class="form-inputs">
						<%= f.input :email, required: true, autofocus: true %>
						<%= f.input :password, required: true %>
						<%= f.input :password_confirmation, required: true %>
						<%= f.input :digital_ocean_api_key, hint: "Only required for server admins. #{link_to('Read more/Instructions', digital_ocean_setup_path)}".html_safe %>
						<label>
							By clicking 'Sign up', you agree to our <%= link_to 'Terms of Service', :tos %>.
						</label>
					</div>

					<div class="form-actions">
						<%= f.button :submit, "Sign up" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
<br />
<div id="demo-servers" class="row">
	<h1 class="text-center">3. Play!</h1>
</div>
<div class="row">
	<div class="col-sm-12">
		<%= render file: 'minecrafts/show' %>
	</div>
</div>
