<% title 'Gamocosm - The open source Realms alternative' %>
<% content_for :meta_description, 'Gamocosm is an open source Realms alternative. It helps you host cloud Minecraft servers.' %>
<% meta_keywords ['Minecraft', 'hosting', 'open source', 'cloud', 'DigitalOcean', 'per-hour'] %>
<div class="container-fluid container-inverse">
	<div id="landing_main" class="row">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-sm-7">
						<h1>The <span class="text-primary">open</span><br />Realms alternative</h1>
						<p>
							Gamocosm is like a home coffee machine.
							Or a toolkit so you can do your own repairs.
							Or courses posted online so everyone can learn.
							Gamocosm helps you host your own servers.
						</p>
						<div class="actions">
							<%= link_to 'How it Works', about_path, class: 'btn btn-lg btn-default btn-reverse' %>
							<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-success btn-reverse' %>
						</div>
					</div>
					<div class="col-sm-5">
						<%= image_tag('splash.png', alt: 'Gamocosm control panel', class: 'img-responsive hidden-sm-block') %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="features-wrapper">
	<%= image_tag('homepage/features.svg', alt: 'Gamocosm control panel', class: 'features-center') %>
	<div class="container">
		<div class="features">
			<div class="feature first">
				<h2>Why pay 24/7 if you don't play 24/7?</h2>
				<p>
					Gamocosm automates setting up and maintaining Minecraft servers on
					<%= render_digital_ocean_referral_link('%s (%s)', 'DigitalOcean') %>,
					a cloud server provider.
					You only need to pay per hour, so Gamocosm users average just <strong><%= link_to '$0.50-$2', about_path %> a month</strong>.
				</p>
			</div>
			<div class="feature second">
				<h2>Give access to family and friends</h2>
				<p>
					Get your server running just the way you like it, then add your friends so they can play while you're away.
					Set a schedule to start and stop your server,
					or tell Gamocosm to automatically shutdown after a period of inactivity.
				</p>
			</div>
		</div>
		<div class="features">
			<div class="feature third">
				<h2>The server is yours and yours alone</h2>
				<p>
					You have full access to a Linux machine; you can install mods, additional software and even
					custom servers such as <%= link_to 'Cuberite', cuberite_website_url %>, the performant C++ Minecraft server.
					Read more about the setup on the <%= link_to 'wiki', wiki_url %>.
				</p>
			</div>
			<div class="feature fourth">
				<h2>Free as in freedom</h2>
				<p>
					It costs nothing to use Gamocosm; no bills, no ads, no tracking user habits.
					The <%= link_to 'source code', source_url %> is well documented and available for everyone's inspection
					and contribution.
				</p>
			</div>
		</div>
	</div>
</div>
