<div class="row">
	<div class="col-sm-12">
		<div class="jumbotron">
			<h1>Minecraft for friends.</h1>
			<p>Gamocosm is a server administration tool. It helps you host cloud servers.</p>
			<p>Cloud servers are charged by the hour. You only pay for what you use.</p>
			<p>Gamocosm is <%= link_to 'Free, Open Source Software', source_path %>.</p>
			<br />
			<div class="row">
				<div class="col-sm-4">
					<p><%= link_to 'Sign up for Gamocosm', new_user_registration_path, class: 'btn btn-primary btn-lg' %></p>
				</div>
				<div class="col-sm-4">
					<p><%= link_to 'Learn more', about_path, class: 'btn btn-success btn-lg' %></p>
				</div>
				<div class="col-sm-4">
					<p><%= link_to 'See what it looks like', '#demo-servers', class: 'btn btn-primary btn-lg anchor-page' %></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4"><p>Solid State Drives</p></div>
				<div class="col-sm-4"><p>64 bit Fedora 20 (Linux)</p></div>
				<div class="col-sm-4"><p>OpenJDK 7 Java</p></div>
			</div>
			<div class="row">
				<div class="col-sm-4"><p>Full FTP and SSH access</p></div>
				<div class="col-sm-4"><p>Gigabit Ethernet</p></div>
				<div class="col-sm-4"><p>Mods and Plugins</p></div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<h1 class="text-center">Popular Servers</h1>
	<% @droplet_sizes.each do |x| %>
		<div class="col-sm-3">
			<%= render partial: 'pages/droplet_size', locals: { droplet_size: x } %>
		</div>
	<% end %>
</div>
<div class="row">
	<h3 class="text-muted text-center">You are charged hourly up to a monthly maximum.</h3>
</div>
<br />
<br />
<br />
<div id="demo-servers" class="row">
	<h1 class="text-center">Demo</h1>
</div>
<div class="row">
	<div class="col-sm-12 well">
		<%= render partial: 'pages/screenshot_server_show' %>
	</div>
</div>
<br />
