<% content_for :head do %>
	<style>
		body {
			padding-top: 50px;
		}
	</style>
<% end %>
<div class="container-fluid">
<div id="landing_main" class="row">
	<div class="col-sm-12">
		<div class="jumbotron text-center">
			<div class="container">
			<br />
			<h1>The open source Realms alternative</h1>
			<br />
			<br />
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<p>Full-fledged servers for family and friends at a fraction of the cost, and all the features.</p>
				</div>
				<div class="col-sm-5">
					<p>Minecraft in the cloud is per-hour and more flexible. Why pay 24/7 if you don't play 24/7?</p>
				</div>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1">
					<p>
						Gamocosm is like a home coffee machine.
						Or a toolkit so you can do your own repairs.
						Or courses posted online so everyone can learn.
						Gamocosm helps you host your own servers.
					</p>
				</div>
			</div>
			<br />
			<br />
			<div class="row">
				<div class="col-sm-5 col-sm-offset-1">
					<p><%= link_to 'What it looks like', demo_path, class: 'btn-lg btn-success' %></p>
				</div>
				<div class="col-sm-5">
					<p><%= link_to 'Get started!', new_user_registration_path, class: 'btn-lg btn-success' %></p>
				</div>
			</div>
			<br />
			<br />
			<br />
			<div class="row">
				<%= link_to 'More information <i class="fa fa-chevron-right"></i>'.html_safe, help_path, class: 'btn-lg btn-default' %>
			</div>
			</div>
		</div>
	</div>
</div>
</div>
<br />
<br />
<br />
<div class="container">
<div class="row">
	<div class="col-sm-4">
		<%= image_tag('screenshot-github.png', size: '480x300', alt: 'Gamocosm repository on GitHub', class: 'img-thumbnail') %>
	</div>
	<div class="col-sm-8">
		<h1>Gamocosm is FOSS</h1>
		<p>
			The <%= link_to 'source code', source_path %> is well documented and available for everyone's inspection and contribution.
			It costs nothing to use Gamocosm; no bills, no ads, no tracking user habits.
		</p>
	</div>
</div>
<div class="row text-right">
	<div class="col-sm-8">
		<h1>Digital Ocean is a general-purpose cloud hosting provider</h1>
		<p>
			Gamocosm sets up your servers on <%= link_to 'Digital Ocean', digital_ocean_index_path %>.
			It takes care of starting, stopping, backing up, and destroying servers so you only pay per-hour for what you use.
			You pay Digital Ocean for running the servers (<%= link_to 'pricing', digital_ocean_pricing_path %>).
			For a private server, you're looking at usually <strong><%= link_to '$0.50-$2', help_path %> a month</strong>.
		</p>
	</div>
	<div class="col-sm-4">
		<%= image_tag('digital_ocean-screenshot.png', size: '480x300', alt: 'Digital Ocean', class: 'img-thumbnail') %>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<%= image_tag('screenshot-control_panel.png', size: '480x300', alt: 'Gamocosm control panel', class: 'img-thumbnail') %>
	</div>
	<div class="col-sm-8">
		<h1>Let your friends start/stop your servers</h1>
		<p>
			Add your friends to your server so they can play when you're away.
			See a <%= link_to 'demo' %> of the control panel.
		</p>
	</div>
</div>
<div class="row text-right">
	<div class="col-sm-8">
		<h1>Play!</h1>
		<p>
			The server is yours.
			You have full access to a Linux machine; you can install mods and all the additional software you want.
			Even custom servers are compatible; we recommend <%= link_to 'MCServer', mcserver_website_path %>, the performant C++ Minecraft server.
			Read more about the setup on the <%= link_to 'wiki', wiki_path %>.
		</p>
	</div>
	<div class="col-sm-4">
		<%= image_tag('screenshot-minecraft.png', size: '480x300', alt: 'Minecraft', class: 'img-thumbnail') %>
	</div>
</div>
<br />
<br />
<br />
</div>
