<br />
<br />
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-2 text-muted">
				<ul>
					<li><b><%= link_to 'Home', root_url %></b></li>
					<li><%= link_to 'About', about_path %></li>
					<li><%= link_to 'Wiki', wiki_path %></li>
					<li><%= link_to 'Blog and updates', blog_path %></li>
				</ul>
			</div>
			<div class="col-sm-2 text-muted">
				<ul>
					<li><b>Contact</b></li>
					<li><%= link_to 'GitHub issues', issues_path %></li>
					<li><%= link_to 'IRC web chat', irc_path %></li>
					<li><%= link_to 'IRC chat history', irc_history_path %></li>
				</ul>
			</div>
			<div class="col-sm-2 text-muted">
				<ul>
					<li><b>Digital Ocean</b></li>
					<li><%= render_digital_ocean_referral_link('%s (%s)', 'Website', digital_ocean_index_path, digital_ocean_index_no_ref_path) %></li>
					<li><%= render_digital_ocean_referral_link('%s (%s)', 'Pricing', digital_ocean_pricing_path, digital_ocean_pricing_no_ref_path) %></li>
					<li><%= link_to 'Setup', digital_ocean_setup_path %></li>
				</ul>
			</div>
			<div class="col-sm-2 text-muted">
				<ul>
					<li><b>Miscellaneous</b></li>
					<li><%= link_to 'Source code', source_path %></li>
					<li><%= link_to 'Terms of service', tos_path %></li>
					<li><%= link_to 'Sign up', new_user_registration_path %></li>
				</ul>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-12">
				<p class="copyright text-muted small">
					Server running commit <%= link_to Gamocosm::GIT_HEAD, git_head_path %> from <%= Gamocosm::GIT_HEAD_DATE %>
					<br />
					Copyright Gamocosm 2014 - <%= Date.today.year %>. All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</footer>
