<!DOCTYPE html>
<html>
<head>
  <title>Gamocosm</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo+2' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-55666029-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body>

  <%= render partial: 'layouts/components/navbar' %>
  <%= render partial: 'layouts/components/flash' %>
  <div class="container"><%= yield %></div>
  <%= render partial: 'layouts/components/footer' %>

</body>
</html>
