<!DOCTYPE html>
<html>
<head>
  <title>Gamocosm</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'layouts/components/navbar' %>
  <div class="container"><%= yield %></div>
  <%= render partial: 'layouts/components/footer' %>
  <%= render partial: 'layouts/components/flash' %>

</body>
</html>
