<!DOCTYPE html>
<html>
<head>
  <title>Gamocosm</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Exo+2' %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

  <%= render partial: 'layouts/components/navbar' %>
  <%= render partial: 'layouts/components/flash' %>
  <div class="container"><%= yield %></div>
  <%= render partial: 'layouts/components/footer' %>

</body>
</html>
